In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv("DSL2122_january_dataset\development.csv", usecols=["ids", "date", "user", "text", "sentiment"])
df2 = pd.read_csv("DSL2122_january_dataset\evaluation.csv", usecols=["ids", "date", "user", "text"])

In [3]:
df1.head()

,sentiment,ids,date,user,text
0,1,1833972543,Mon May 18 01:08:27 PDT 2009,Killandra,"@MissBianca76 Yes, talking helps a lot.. going..."
1,1,1980318193,Sun May 31 06:23:17 PDT 2009,IMlisacowan,SUNSHINE. livingg itttt. imma lie on the grass...
2,1,1994409198,Mon Jun 01 11:52:54 PDT 2009,yaseminx3,@PleaseBeMine Something for your iphone
3,0,1824749377,Sun May 17 02:45:34 PDT 2009,no_surprises,@GabrielSaporta couldn't get in to the after p...
4,0,2001199113,Tue Jun 02 00:08:07 PDT 2009,Rhi_ShortStack,@bradiewebbstack awww is andy being mean again...

In [4]:
df2.head()

,ids,date,user,text
0,1999928613,Mon Jun 01 21:04:54 PDT 2009,urbanperspectiv,@engteacher I'm pretty much the same ...in eit...
1,1827919331,Sun May 17 11:43:09 PDT 2009,therealsecret,@JaxLicurse same here have a gr8 week ahead
2,1563640134,Sun Apr 19 23:37:52 PDT 2009,bitchville,@blacksweater that's just nightmares all over
3,2189786396,Tue Jun 16 00:54:27 PDT 2009,epi_longo,@dlead @jishanvn cháº¯c pháº£i Äi thi Äáº¡i ...
4,1974034022,Sat May 30 12:18:33 PDT 2009,Curiosafmmb,@CA_Sweetie awe. ok sweetie. ttyl. *hugs*

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224994 entries, 0 to 224993
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   sentiment  224994 non-null  int64
 1   ids        224994 non-null  int64
 2   date       224994 non-null  object
 3   user       224994 non-null  object
 4   text       224994 non-null  object
dtypes: int64(2), object(3)
memory usage: 8.6+ MB

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74999 entries, 0 to 74998
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ids     74999 non-null  int64
 1   date    74999 non-null  object
 2   user    74999 non-null  object
 3   text    74999 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.3+ MB

In [7]:
df = pd.concat([df1, df2], sort=False)
len(df1), len(df2), len(df)

(224994, 74999, 299993)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 299993 entries, 0 to 74998
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   sentiment  224994 non-null  float64
 1   ids        299993 non-null  int64
 2   date       299993 non-null  object
 3   user       299993 non-null  object
 4   text       299993 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 13.7+ MB

In [9]:
df.to_csv('raw_df.csv', encoding='utf-8')

In [10]:
import datetime as dt

df["date"] = pd.to_datetime(df["date"])

C:\ProgramData\Anaconda3\lib\site-packages\dateutil\parser\_parser.py:1207: UnknownTimezoneWarning: tzname PDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "

In [11]:
dayofweek = df["date"].dt.dayofweek
hour = df["date"].dt.hour
minute = df["date"].dt.minute
seconds = df["date"].dt.second
time = hour * 3600 + minute * 60 + seconds

In [12]:
year = df["date"].dt.year
print(year.min(), year.max())
#all tweets from 2009, discard year information

month = df["date"].dt.month
print(month.min(), month.max())

2009 2009
4 6

In [13]:
df["month"] = month
df["dayofweek"] = dayofweek
#df["time"] = time
df["hour"] = hour
df["min"] = minute
df = df.drop(["date"], axis=1)
df.head()

,sentiment,ids,user,text,month,dayofweek,hour,min
0,1.0,1833972543,Killandra,"@MissBianca76 Yes, talking helps a lot.. going...",5,0,1,8
1,1.0,1980318193,IMlisacowan,SUNSHINE. livingg itttt. imma lie on the grass...,5,6,6,23
2,1.0,1994409198,yaseminx3,@PleaseBeMine Something for your iphone,6,0,11,52
3,0.0,1824749377,no_surprises,@GabrielSaporta couldn't get in to the after p...,5,6,2,45
4,0.0,2001199113,Rhi_ShortStack,@bradiewebbstack awww is andy being mean again...,6,1,0,8

In [14]:
df["n_tweet"] = df.groupby(['user']).transform('count')['text']
df.head()

,sentiment,ids,user,text,month,dayofweek,hour,min,n_tweet
0,1.0,1833972543,Killandra,"@MissBianca76 Yes, talking helps a lot.. going...",5,0,1,8,28
1,1.0,1980318193,IMlisacowan,SUNSHINE. livingg itttt. imma lie on the grass...,5,6,6,23,28
2,1.0,1994409198,yaseminx3,@PleaseBeMine Something for your iphone,6,0,11,52,96
3,0.0,1824749377,no_surprises,@GabrielSaporta couldn't get in to the after p...,5,6,2,45,24
4,0.0,2001199113,Rhi_ShortStack,@bradiewebbstack awww is andy being mean again...,6,1,0,8,47

In [15]:
dataset = df["text"]

In [17]:
POSITIVE_EMO = [
    ":‑)",
    ":-))",
    ":-)))",
    ":)",
    ":))",
    ":)))",
    ":-]",
    ":]",
    ":-3",
    ":3",
    ":->",
    ":>",
    "8-)",
    ":o)",
    ":-}",
    ":}",
    ":-)",
    ":c)",
    ":^)",
    "=]",
    "=)",
    ":‑D",
    ":D",
    "8‑D",
    "8D",
    "X‑D",
    "XD",
    "=D",
    "=3",
    "B^D",
    ":-*",
    ":*",
    ":X",
    ";‑)",
    ";)",
    "*-)",
    "*)",
    ";‑]",
    ";]",
    ";^)",
    ":‑,",
    ";D",
    ":‑P",
    ":P",
    "X‑P",
    "XP",
    ":‑Þ",
    ":Þ",
    ":b",
    "d:",
    "=p",
    ">:P",
    "(:"
]

NEGATIVE_EMO = [
    ":-(",
    ":‑(",
    ":(",
    ":((",
    "):",
    ":‑c",
    ":c",
    ":‑<",
    ":<",
    ":‑[",
    ":[",
    ":-||",
    ">:[",
    ":{",
    ":@",
    ">:(",
    ":'‑(",
    ":'(",
    ":'‑)",
    ":')",
    "D‑':",
    "D:<",
    "D:",
    "D8",
    "D;",
    "D=",
    "DX",
    ":‑/",
    ":/",
    ":-[.]",
    ">:[(\)]",
    ">:/",
    ":[(\)]",
    "=/",
    "=[(\)]",
    ":L",
    "=L",
    ":S",
    ":‑|",
    ":|",
    ":$",
    ":‑x",
    ":x",
    ":‑#",
    ":#",
    ":‑&",
    ":&",
    "('_')",
    "(/_;)",
    "(T_T) (;_;)",
    "(;_;",
    "(;_:)",
    "(;O;)",
    "(:_;)",
    "(ToT)",
    ";_;",
    ";-;",
    ";n;",
    ";;",
    "Q.Q",
    "T.T",
    "QQ",
    "Q_Q"
]

In [19]:
def find_emoticons(text):
    pos = 0
    neg = 0
    for emo in POSITIVE_EMO:
        if emo in text:
            pos = pos + 1
    for emo in NEGATIVE_EMO:
        if emo in text:
            neg = neg + 1
            
    return pos, neg

In [20]:
emo_l = [ find_emoticons(text) for text in dataset.values ]

In [21]:
emo_df = pd.DataFrame(emo_l, columns=["positive_emo", "negative_emo"])
emo_df.head()

   positive_emo  negative_emo
0             0             0
1             0             0
2             0             0
3             0             0
4             0             0

In [22]:
emo_df.info()
emo_df.max()
emo_df.sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299993 entries, 0 to 299992
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   positive_emo  299993 non-null  int64
 1   negative_emo  299993 non-null  int64
dtypes: int64(2)
memory usage: 4.6 MB

positive_emo     5306
negative_emo    16483
dtype: int64

In [23]:
df["positive_emo"] = emo_df["positive_emo"]
df["negative_emo"] = emo_df["negative_emo"]
df.head()

,sentiment,ids,user,text,month,dayofweek,hour,min,n_tweet,positive_emo,negative_emo
0,1.0,1833972543,Killandra,"@MissBianca76 Yes, talking helps a lot.. going...",5,0,1,8,28,0,0
1,1.0,1980318193,IMlisacowan,SUNSHINE. livingg itttt. imma lie on the grass...,5,6,6,23,28,0,0
2,1.0,1994409198,yaseminx3,@PleaseBeMine Something for your iphone,6,0,11,52,96,0,0
3,0.0,1824749377,no_surprises,@GabrielSaporta couldn't get in to the after p...,5,6,2,45,24,0,0
4,0.0,2001199113,Rhi_ShortStack,@bradiewebbstack awww is andy being mean again...,6,1,0,8,47,0,0

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 299993 entries, 0 to 74998
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   sentiment     224994 non-null  float64
 1   ids           299993 non-null  int64
 2   user          299993 non-null  object
 3   text          299993 non-null  object
 4   month         299993 non-null  int64
 5   dayofweek     299993 non-null  int64
 6   hour          299993 non-null  int64
 7   min           299993 non-null  int64
 8   n_tweet       299993 non-null  int64
 9   positive_emo  299993 non-null  int64
 10  negative_emo  299993 non-null  int64
dtypes: float64(1), int64(8), object(2)
memory usage: 27.5+ MB

In [25]:
tweet_len = [ len(text) for text in dataset ]
len_df = pd.DataFrame(tweet_len, columns=["tweet_len_before"])
df["tweet_len_before"] = len_df

In [31]:
import html

dataset = dataset.apply(lambda x: html.unescape(x)) #HTML decoding

In [32]:
import re

dataset = dataset.apply(lambda x: re.sub(r'@[A-Za-z0-9]+', '', x)) #remove tags
dataset = dataset.apply(lambda x: re.sub(r'https?://[A-Za-z0-9./]+', '', x)) #remove links
dataset = dataset.apply(lambda x: re.sub(r'www?://[A-Za-z0-9./]+', '', x)) #remove url
dataset = dataset.apply(lambda x: re.sub('[0-9]+', '', x)) #remove numbers
dataset = dataset.apply(lambda x: re.sub(' +', ' ', x)) #remove extra spaces
dataset = dataset.apply(lambda x: re.sub(r'[^\w\s]','',x)) #remove puntuaction
dataset = dataset.apply(lambda x: re.sub(r'([a-z])\1+', r'\1', x)) #remove repeating characters
dataset = dataset.apply(lambda x: x.lower()) #remove numbers

dataset.head()

0     yes talking helps a lot going through it ther...
1    sunshine living it ima lie on the gras listeni...
2                           something for your iphone
3                   couldnt get in to the after party
4        aw is andy being mean again now i want macas
Name: text, dtype: object

In [33]:
from nltk.tokenize import TreebankWordTokenizer
#from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

token = TreebankWordTokenizer()
porter = PorterStemmer()

negations = {"isn't":"is not", "aren't":"are not", "wasn't":"was not", "weren't":"were not",
             "haven't":"have not","hasn't":"has not","hadn't":"had not","won't":"will not",
             "wouldn't":"would not", "don't":"do not", "doesn't":"does not","didn't":"did not",
             "can't":"can not","couldn't":"could not","shouldn't":"should not","mightn't":"might not",
             "mustn't":"must not"
            }

def tokenize_stemming(text):
        #expand negations
        for a, b in negations.items():
            if a in text:
                text = text.replace(a,b)
            
        #tokenize and stemming    
        word_list = token.tokenize(text)
        
        #filtered_words = [ word for word in word_list if word not in stopwords.words('english') ]

        stem_sentence = [ porter.stem(word) for word in word_list ]
        
        text = " ".join(stem_sentence).strip()
        
        return text
    
        
dataset = dataset.apply(lambda x: tokenize_stemming(x))

dataset.head()

0    ye talk help a lot go through it there no judg...
1    sunshin live it ima lie on the gra listen to o...
2                                someth for your iphon
3                    couldnt get in to the after parti
4             aw is andi be mean again now i want maca
Name: text, dtype: object

In [34]:
tweet_len = [ len(text) for text in dataset ]
len_df = pd.DataFrame(tweet_len, columns=["tweet_len_after"])
df["tweet_len_after"] = len_df

In [35]:
df["text"] = dataset
df.head()

,sentiment,ids,user,text,month,dayofweek,hour,min,n_tweet,positive_emo,negative_emo,tweet_len_before,positive_word,negative_word,tweet_len_after
0,1.0,1833972543,Killandra,ye talk help a lot go through it there no judg...,5,0,1,8,28,0,0,139,0,0,93
1,1.0,1980318193,IMlisacowan,sunshin live it ima lie on the gra listen to o...,5,6,6,23,28,0,0,88,1,1,68
2,1.0,1994409198,yaseminx3,someth for your iphon,6,0,11,52,96,0,0,40,0,0,21
3,0.0,1824749377,no_surprises,couldnt get in to the after parti,5,6,2,45,24,0,0,52,0,0,33
4,0.0,2001199113,Rhi_ShortStack,aw is andi be mean again now i want maca,6,1,0,8,47,0,0,68,0,0,40

In [36]:
df.loc[df["text"] == "", ["text"]] = "."

In [37]:
df.to_csv('clean_df.csv', encoding='utf-8')